<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light" />
    <link rel="stylesheet" href="/static/pico.pink.css" />
    <script src="/static/htmx.min.js"></script>
    <title>Soli share</title>
</head>
